@mixin alert ($color) {
  @include box;
  .mdi {
    font-size: 3em;
    margin-bottom: $gutter_horizontal;
    color: rgba($color, 0.7);
  }
}

.alert-success {
  @include alert(#32cd32);
}

.alert-error {
  @include alert(#dc143c);
}