{
  "title": "slide 8",
  "class": "",
  "notes": "<p>The thing with good design is that it is invisible. Most of the time you don't even know that it's there. It shows you the direction and then it gets out of the way.</p><p>Good design is considered.</p>",
  "content": "<h5>Good design is invisible.</h5><h5>Good design is considered.</h5>"
}