{
  "title": "slide 31",
  "class": "",
  "notes": "<p>Using imagery in your designs is an effective way to help re-enforce feeling, mood and emotions. It is also a good way to remove written content, that might take up too much space in your designs while still delivering your message.</p>",
  "content": "<h3>Imagery</h3>"
}