{
  "title": "slide 9",
  "class": "",
  "notes": "",
  "content": "<h5>Things to think about when designing:</h5><ul><li>Goals</li><li>Context</li><li>Technical Constraints</li><li>States</li><li>Voice &amp; Tone</li></ul>"
}