{
  "title": "slide 17",
  "class": "",
  "notes": "<p>2. <strong>Pick a heading font</strong>. This is where the style and character comes in. Now a heading font doesn't need to be a different font from your body font. It could actually be the same if it comes with enough variation. So you could use a light to medium weight for the body, and then use the bold condensed version for your headings. Or you could pick an entirely different font.</p><p>When picking a second font I like to pick something either contrasting to the body font, or with a relationship to it. So if my body has a sans-serif font then I'll go with a serif for the heading. Or I might pick two fonts that come from the same time, or area, or that come from the same type designer.</p><p>Ok, so taking a step back for a second. I mentioned the words `serif` and `sans-serif`. Who knows what these mean?</p>",
  "content": "<p><em>Typography rule #2</em></p><h3>Choose a heading font.</h3>"
}