{
  "title": "slide 26",
  "class": "",
  "notes": "<p>Contrast is how we show the difference between things.<br>You can have contrast in colour - Black & White; Darks & Lights.<br>You can have contrast in size - Big vs Small.<br>And you can have contrast in Typography - Serif vs Sans-serif; Italic vs Book; Light and expanded vs Bold and condensed.</p>",
  "content": "<h3>Contrast &amp; Balance</h3>"
}