{
  "title": "slide 18",
  "class": "",
  "notes": "<p>Ok so, for those that don't, a serif is the little foot that appears at the end of a character.<br>And 'Sans' means without. So a sans-serif typeface is one without the little flared foot thingy.</p><p>Ok, rule #3</p>",
  "content": "<img src='img/serif_vs_sans_serif.jpg'>"
}