{
  "title": "slide 19",
  "class": "",
  "notes": "<p>3. If you really, REALLY have too, you can pick a third font choice, but <strong>never use more than three fonts. Ever!</strong>. Seriously, don't do it. It will make your designs look like a scrapbook or a ransom note, and that's all-well-and-good for scrapbooks and ransom notes, but not for our apps. It makes things overwhelming and they just don't look good.</p>",
  "content": "<p><em>Typography rule #3</em></p><h3>Never <em>ever</em> use more than three&nbsp;fonts.</h3>"
}