{
  "title": "slide 13",
  "class": "",
  "notes": "<p>Flow: (getting the user to their goal)</p><p>Flow is more of an over-arching concept and it is concerned with the steps it takes to get the user to achieve their goal. This might be the way a series of form fields are laid out, or by presenting something in a popover so as to not remove the user from the context of the current page.</p><p>When used together, our techniques of Visual Design help us to enforce these key concepts.</p>",
  "content": "<h3>Flow</h3><p>How do we get to our goal?</p>"
}