{
  "title": "slide 32",
  "class": "",
  "notes": "<p>Icons can be extremely helpful when trying to convey a message, especially if your users speak different languages.</p><p>Other types of imagery you can use are illustrations, photos and data visualisation like graphs or maps. These all help to create a rich experience for your users and to create interest.</p>",
  "content": "<div class='icons-block'><span class='mdi mdi-account-plus'></span><span class='mdi mdi-alert-circle'></span><span class='mdi mdi-arrow-left'></span><span class='mdi mdi-battery-charging-30'></span><br><span class='mdi mdi-gas-station'></span><span class='mdi mdi-check'></span><span class='mdi mdi-cloud-download'></span><span class='mdi mdi-currency-usd'></span><br><span class='mdi mdi-leaf'></span><span class='mdi mdi-delete'></span><span class='mdi mdi-facebook'></span><span class='mdi mdi-star'></span></div>"
}