{
  "title": "slide 24",
  "class": "",
  "notes": "<p>Using different sizes of elements allows us to enforce hierarchy and to create a flow between different parts of our design. As we saw with typography something that is bigger can create a sense of being more important. This allows us to direct users to the parts of our applications that we want them to focus on.</p>",
  "content": "<h3>Size</h3>"
}