{
  "title": "slide 25",
  "class": "",
  "notes": "<p>Size is also very important when it comes to actionable items in your deigns. Make sure you have enough room for your users to click on a link or a button. Remember that with touch devices your users may be using their thumb or fingers to press a button, and this requires more room than a standard mouse cursor. If you haven't allowed for enough room to tap on something then you run the risk of people tapping on the wrong things, which can cause frustration.</p>",
  "content": "<div class='button-wrap'><button class='btn-big'>Go!</button><span class='mdi mdi-cursor-pointer'></span></div><div class='button-wrap'><button class='btn-sml'>Go!</button><span class='mdi mdi-cursor-default'></span></div>"
}