{
  "title": "slide 2",
  "class": "",
  "notes": "<p>Hello. I am Stewart Knapman. I am a designer and front-end developer. I work for a small, but mighty, design studio in Nelson called Lucid. We specialise in building websites for small to medium sized businesses, and mainly work with an e-commerce platform called Shopify. Which, by the way, is built on top of Ruby on Rails. It is also just one of the platforms that we use on a daily basis that is either built on, or influenced by Ruby and the Rails framework.</p>",
  "content": "<img src='img/Jack_head_final.png'><h2>Stewart Knapman</h2><p>Designer &amp; Front-end Developer.</p>"
}