{
  "title": "slide 12",
  "class": "",
  "notes": "<p>Focus: (what do we want to show or emphasise?)</p><p>This helps us to get our point across and says 'I want you to do this'. It could be done with a mixture of white space and a big heading, or by emphasising a button.</p>",
  "content": "<h3>Focus</h3><p>What do we want to emphasise?</p>"
}