{
  "title": "slide 10",
  "class": "",
  "notes": "<p>Ok, so now we know what and why, lets talk about how to use Visual Design. There are several key principals that we can use that will help us to achieve our goals and to help our users to achieve theirs.</p>",
  "content": "<h2>Visual Design Strategies</h2><p>Our key concepts.</p>"
}