{
  "title": "slide 30",
  "class": "",
  "notes": "<p>Once you know how to work with a grid, you can try your hand at breaking it. This is a great technique for creating focus and emphasising an element. But use this sparingly and with caution. If you do it to much, then you may as well not be using a grid at all.</p><p>Spacing is also an important part of layout. Using negative or white space around your elements allows them to breath. If things are to close together then they start to look cluttered. Contrary to popular belief white space is actually something that you can have a lot of. Using lots of white space can have an effect of making your designs look expensive, like you have so much money to throw away on empty areas, rather than spending it all on trying to cram as much content in as possible.</p>",
  "content": "<div class='grid-break'><ul><li class='heading-item'>Heading</li><li>List item</li><li>List item</li><li class='active-item'>Active item</li><li>List item</li><li>List item</li></ul></div>"
}