{
  "title": "slide 33",
  "class": "",
  "notes": "<p>Ok, last one.<br>Composition, lets start pulling it all together.</p><p>So by now we should have all of these beautifully designed elements. All of our images, forms and buttons look nice; our type is clear and readable; and we have a clear idea of the structure and feeling of things.</p><p>So one thing I have been trying to do more recently, and I know other designers are talking more and more about this concept, is when designing for the web try to approach the elements as modules. Designing each part or item as an object that we can then piece together and reuse like lego blocks. And you'll see why in a minute.</p>",
  "content": "<h3>Composition</h3>"
}