{
  "title": "slide 33",
  "class": "",
  "notes": "<p>Ok, last one.<br>Composition, lets start pulling it all together.</p><p>So by now we should have all of these beautifully designed elements. All of our images, forms and buttons look nice; our type is clear and readable; and we have a clear idea of the structure and feeling of things.</p>",
  "content": "<h3>Composition</h3>"
}