{
  "title": "slide 3",
  "class": "",
  "notes": "<p>So, I'm going to take you through a little bit of about what Visual Design is; <em>why</em> we need it; and then finish up with some rules or guidelines on how we can use it in our apps to create great experiences.</p><p>So what is Visual Design, and why do we even care?</p>",
  "content": "<h2>What is Visual Design?</h2>"
}