{
  "title": "slide 29",
  "class": "",
  "notes": "<p>In design, it is always a good idea to base your content on a grid. Grids allow us to create a rhythm between elements. It helps us to line things up and it gives us control.</p>",
  "content": "<img src='img/grid_overlay.jpg'>"
}