{
  "title": "slide 34",
  "class": "",
  "notes": "<p>Lets go back to our phones and tablets, our TV's and watches and whatnot. Notice how none of these have the same size screen? Even if you where to look at two or three different phones, they would all have different screen sizes.</p><p>So how do we make sure that our designs work across all of these devices, while still looking good? Right?! Well, we are going to use a concept called Responsive Web Design. Responsive Design means that our designs will 'respond' to the size of the screen that they are given. And we do this by treating everything as being fluid, kind of like water in a glass.</p>",
  "content": "<img src='img/devices.jpg'>"
}