{
  "title": "slide 16",
  "class": "",
  "notes": "<p>1. <strong>Start with one font</strong>. This will be your main font which you will use for the base of your designs. It needs to be clear and readable, and not have any fancy flourishes. Make sure it is something that has all of the characters you need, and comes with multiple weights and styles. This will allow you to create designs with nice typographical texture but without overwhelming or confusing your users.</p>",
  "content": "<p><em>Typography rule #1</em></p><h3>Start with one font.</h3>"
}