{
  "title": "slide 22",
  "class": "",
  "notes": "<p>For instance if we want to highlight a success or error message that provides feedback to our users, we could do this by putting them in a coloured box. Green means 'go', and red means 'stop' right? So it could be appropriate to use these colours to signify a success or error message. Immediately our user will know that if she has received a red message then something went wrong.</p><p>Just be careful that you know your audience. In some asian cultures red is considered a positive colour, so this could be confusing.</p>",
  "content": "<div class='alert-success'><span class='mdi mdi-checkbox-marked-circle'></span><h4>Success!</h4><small>Congratulations, you did it!</small></div><div class='alert-error'><span class='mdi mdi-alert-circle'></span><h4>Oh No!</h4><small>Something went horribly wrong!</small></div>"
}