{
  "title": "slide 22",
  "class": "",
  "notes": "",
  "content": "<div class='alert-success'><span class='mdi mdi-checkbox-marked-circle'></span><h4>Success!</h4><small>Congratulations, you did it!</small></div><div class='alert-error'><span class='mdi mdi-alert-circle'></span><h4>Oh No!</h4><small>Something went horribly wrong!</small></div>"
}