{
  "title": "slide 4",
  "class": "",
  "notes": "<p>Well, for us at least, Visual Design is the process that we will use when we create the interfaces that people will be using when they interact with our apps.</p>",
  "content": "<h5>Visual Design is:</h5><p>The process for creating our interfaces.</p>"
}