{
  "title": "slide 11",
  "class": "",
  "notes": "<p>Hierarchy: (what is important?)</p><p>This helps us to establish and explain to the user what is important. And it is one of the ways we can say 'go this way'. It can be done by using different sizes and weights of fonts, or through different tones of colour.</p>",
  "content": "<h3>Hierarchy</h3><p>What is important?</p>"
}