{
  "title": "slide 5",
  "class": "",
  "notes": "<p>Visual Design is the framework that allows us to create meaningful interactions, and to help us tell stories that connect us with the people that use our apps. It helps us to direct and inform people, and ultimately it helps us to help them to achieve their goals.</p><p>When Visual Design is executed correctly we can create delightful and enjoyable experiences which can enrich peoples lives.</p><p>But, when Visual Design is not executed correctly, or even at all, it can have catastrophic consequences.</p>",
  "content": "<h5>It helps us to:</h5><ul><li>Create meaningful interactions.</li><li>Tell stories that connect us with our users.</li><li>Direct and inform people.</li><li>Helps us to help other people achieve their goals.</li></ul>"
}