{
  "title": "slide 15",
  "class": "",
  "notes": "<p>Typography is the art of working with type, and when used correctly it allows us to set the right voice and tone for our designs. It helps us to establish hierarchy and it can easily make, or break your design.</p><p>There are so many things to consider when talking about typography, like font choice and pairing, using weights and styles to create texture, or making sure you have the correct line-heights, line-lengths and sizing.</p><p>But here are a couple of rules that you can use to help you get started:</p>",
  "content": "<h3>Typography</h3>"
}