{
  "title": "slide 7",
  "class": "",
  "notes": "<p>And you either can't find what you are looking for, or it is not clear what you are meant to do. Or maybe there are too many conflicting things all fighting for your attention, and you are getting frustrated. So in the end you just give up and leave.<br> This is bad design.</p>",
  "content": "<img src='img/deathtobullshit.jpg'>"
}