{
  "title": "slide 6",
  "class": "",
  "notes": "<p>You have probably all experienced this at some point. You are trying to achieve something, probably on a website. Maybe it's a tool for work or school or some other kind of site. Maybe it looks like this&hellip;</p>",
  "content": "<h2>Why do we need Visual&nbsp;Design?</h2>"
}