{
  "title": "slide 21",
  "class": "",
  "notes": "<p>Colour. Ok I promise these other sections won't be as long as that last one.</p><p>Colour allows us to highlight items we want emphasised, and it is a great way of creating feeling and mood in our design.</p>",
  "content": "<h3>Colour</h3>"
}