{
  "title": "slide 23",
  "class": "",
  "notes": "<p>But what about using colour for other, more general parts of your design? So my general rule of thumb is to use only a couple of colours. I'll use black and white or different tones of grey, coupled with one or two highlight colours. And then just use a couple of different tones of that to create the effect I want. The trick is to keep it subtle so that when you do use a bright, impactful colour it has more weight for emphasis.</p><p>Depending on the design I actually try to steer away from using full on black and white, instead dropping it back a notch and then shifting the hue slightly to make it either warmer or cooler. This is because in real life there is no such thing as truly black or white, it all has some kind of shade or tone reflected through it. It is also a really subtle way of adding a little bit of difference to your designs, making them look less boring.</p>",
  "content": "<img src='img/todo.jpg'>"
}