{
  "title": "slide 36",
  "class": "",
  "notes": "<p>Cool. That's about it. I hope that has been helpful for you all. And it gives you some ideas on how to make your apps better.</p><p>If you are keen to see a bit more of these things put into practise, I will be taking the advanced front-end class after lunch. Your more than welcome to come along.</p><p>And if you're interested in learning even more there are a heap of books on these subjects. These are just some of my favourites.</p>",
  "content": "<h3>Homework</h3><div class='homework'><ul><li>On web typography <em>— Jason&nbsp;Santa&nbsp;Maria</em></li><li>Responsive Web Design<em> — Ethan&nbsp;Marcotte</em></li><li>Design is a job<em> — Mike&nbsp;Monteiro</em></li><li>The Shape of Design<em> — Frank&nbsp;Chimero</em></li><li>Web form design<em> — Luke&nbsp;Wroblewski</em></li><li>Atomic Design<em> — Brad&nbsp;Frost</em></li></ul></div>"
}