{
  "title": "slide 20",
  "class": "",
  "notes": "<p>4. <strong>Font size</strong>. So this is a super easy way for us to create hierarchy. By making our headings larger than our body font we are saying this is important, read this first. If we have multiple levels of content then we step down a size with our next heading. This says this is the next important thing, but it is not as important as our previous thing. Generally speaking to work out these sizes I'll usually times my base font size by two or three and work back from there. So if my body font is 16px high, my heading will be 32px and my second level heading would be 28px.</p><p>As you can see there is a lot involved in just working out your typography. There are whole books just dedicated to the subject. In fact if you want a really good book to get you started on the subject, checkout Jason Santa Maria's 'On Web Typography'.</p>",
  "content": "<p><em>Typography rule #4</em></p><h3>Create a hierarchy with your&nbsp;headings.</h3>"
}